<footer>
  <div class="footer-content">
    <nav class="footer-menu">
      <div class="footer-col">
        <div class="item">
          <input type="checkbox" id="products">
          <div class="col-section">
            <label for="products"><h3>INTRODUCTION</h3></label>
            <ul class="product-list">
              <li><a href="../aboutUs">About Us</a></li>
              <li><a href="../cookie-warning">Cookie Warning</a></li>
              <li><a href="../privacy-policy">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="footer-col">
        <div class="item">
          <input type="checkbox" id="store">
          <div class="col-section">
            <label for="store"><h3>COMMUNITY</h3></label>
            <ul class="product-list">
              <li><a href="#">For Artist</a></li>
              <li><a href="#">For Provider</a></li>
              <li><a href="#">For Developer</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="footer-col">
        <div class="item">
          <input type="checkbox" id="about">
          <div class="col-section">
            <label for="about"><h3>SUPPORT</h3></label>
            <ul class="product-list">
              <li><a href="../feedback">Feedback</a></li>
              <li><a href="../advertisement">Advertisement</a></li>
              <li><a href="#">Recruitment</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="footer-col">
        <div class="item">
          <input type="checkbox" id="education">
          <div class="col-section">
            <label for="education"><h3>CONTACT</h3></label>
            <ul class="product-list">
              <ul class="socials">
                <li><a href="https://www.facebook.com/profile.php?id=100071274250121"><i class="fa-brands fa-square-facebook"></i></a></li>
                <li><a href="https://www.tiktok.com/@paradise_music_official"><i class="fa-brands fa-tiktok"></i></a></li>
                <li><a href="https://www.instagram.com/paradise_music_offical/"><i class="fa-brands fa-instagram"></i></a></li>
              </ul>
            <li><a href="mailto:paradisemusic@hvm.com" onclick="window.location.href=this.href; return false;">Email: paradisemusic@hvm.com</a></li>
            </ul>
          </div>
        </div>
      </div>

    </nav>
    <div class="footer-base">
      <div class="footer-legal">
        <div class="footer-more-ways" x-ms-format-detection="none">Copyright © 2023 <a href="#">Paradise music.</a></span> All rights reserved.</div>
      </div>
    </div>
  </div>
</footer>