<div class="about-content" data-aos="fade-up" style="min-height: 100vh;">
  <h2>About Us</h2>
  <p>As the newly launched music and audio platform, Music Paradise allows anyone to discover and enjoy the greatest
    collection of music from the most diverse community of creators on earth. Since its launch in early 2022, the
    platform has become known for its unique content and features, including the ability to share music and connect
    directly with artists, as well as discover new music, breakthrough tracks, demos, podcasts and more. This is made
    possible thanks to an open platform that connects creators and their fans directly across the globe.</p>
  <p>Do not have an account?</p>
  <a href="./register"><button type="button" class="create-account">Create Account</button></a>
  <h3>Follow us</h3>
  <p>For the latest news, follow us on:</p>
  <ul class="socials-menu">
    <li><a href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
    <li><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>
    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
  </ul>
  <h3>Community contribution</h3>
  <p>If you need help or have questions about your account, learn how you can get the support you need below:</p>
  <ul class="community-menu">
    <li>
      <p><a href="#">Help Center.</a> Use our Help Center to find answers to frequently asked questions, understand how
        to get the most out of MusicParadise, and reach out to our support team.</p>
    </li>
    <li>
      <p><a href="#">Community help.</a> Join the conversation and ask the community for help when you need it. The Help
        Community is a place for you to interact with MusicParadise and its community.</p>
    </li>
    <li>
      <p><a href="#">Copyright Complaint Center.</a> Here you can find and dispute any copyright claims filed by third
        parties regarding your uploads.</p>
    </li>
    <li>
      <p><a href="#">Report copyright infringement.</a> If you identify content on MusicParadise that you think
        infringes your copyright, you can let us know here.</p>
    </li>
    <li>
      <p><a href="#">@mpsupport.</a> Need quick help? Tweet our community support team about your issue and we'll get it
        fixed for you as soon as we can.
    </li>
  </ul>
</div>

{{!-- animation scroll --}}
    <script>
        AOS.init();
    </script>