<div class="container" style="min-height:100vh; margin-bottom: 70px;">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row mb-5">
                <div class="title">
                    <h3 class="topic">
                        Decade's Top Hits
                    </h3>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" data-aos="fade-right">
                    <a href="/playlist-information/1960s">
                    <button type="button" class="decades" id="d1960s">
                        <div class="row">
                            <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                                1960s Hits
                            </div>
                        </div>
                    </button>
                    </a>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" data-aos="fade-down">
                    <a href="/playlist-information/1970s">
                    <button type="button" class="decades" id="d1970s">
                        <div class="row">
                            <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                                1970s Hits
                            </div>
                        </div>
                    </button>
                    </a>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" data-aos="fade-left">
                    <a href="/playlist-information/1980s">
                    <button type="button" class="decades" id="d1980s">
                        <div class="row">
                            <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                                1980s Hits
                            </div>
                        </div>
                    </button>
                    </a>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" data-aos="fade-right">
                    <a href="/playlist-information/1990s">
                    <button type="button" class="decades" id="d1990s">
                        <div class="row">
                            <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                                1990s Hits
                            </div>
                        </div>
                    </button>
                    </a>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" data-aos="fade-up">
                    <a href="/playlist-information/2000s">
                    <button type="button" class="decades" id="d2000s">
                        <div class="row">
                            <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                                2000s Hits
                            </div>
                        </div>
                    </button>
                    </a>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" data-aos="fade-left">
                    <a href="/playlist-information/2010s">
                    <button type="button" class="decades" id="d2010s">
                        <div class="row">
                            <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                                2010s Hits
                            </div>
                        </div>
                    </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- animation scroll --}}
<script>
    AOS.init();
</script>