<div class="page-error" style="background: #f6f6f5;" data-aos="fade-up" style="min-height:100vh; margin-top: 80px;">
    <div class="container error-page d-block text-center align-center mx-auto">
        <img src="img/404-error.gif" alt="" style="width: 520px;">
        <p class="m-0" style="font-size: 40px; font-weight:bold;">Oops, Page not Found!</p>
        <p style="color: gray;">Nobody's here! Are you looking for me?</p>
        <p style="padding-top: 10px;">Go to <a href="/" style="text-decoration: none;">Home Page</a></p>
    </div>
    {{!-- <h1>{{message}}</h1>
    <h2>{{error.status}}</h2>
    <pre>{{error.stack}}</pre> --}}
</div>

{{!-- animation scroll --}}
    <script>
        AOS.init();
    </script>