<div class="wrapper">
    <div class="feaure-artists">
        <img src="/img/background-feature.png" alt="">
    </div>
</div>

<div class="feature-artists-container">
    <div class="container">
        <div class="row" style="height: 30px"></div>
        <div class="row about-feature-artist p-5 m-5" data-aos="fade-right">
            <div class="feature-artist-name-odd">
                <a href="artists/Taylor Swift"><p class="artist-name-fa">Taylor Swift</p></a>
                <p class="monthly-listeners">999,828 monthly listeners</p>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 img-feature-artist">
                <img src="img/fa-taylor-swift.png" alt="">
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 about-artist">
                <h5>About Taylor Swift</h5>
                <p>Taylor Alison Swift is a multi-Grammy award-winning American singer/songwriter who, in 2010 at the
                    age of 20, became the youngest artist in history to win the Grammy Award for Album of the Year. In
                    2011
                    Swift was named Billboard's Woman of the Year. She also has been named the American Music Awards
                    Artist of
                    the Year, as well as the Entertainer of the Year for both the Country Music Association and the
                    Academy
                    of Country Music, among many other accolades. As of this writing, she is also the top-selling
                    digital
                    artist in music history.</p>
                <p class="sub-title">HOMETOWN</p>
                <p class="content">West Reading, PA, United States of America</p>
                <p class="sub-title">BORN</p>
                <p class="content">December 13, 1989</p>
                <p class="sub-title">GENRE</p>
                <p class="content">Pop - Country</p>

            </div>
        </div>

        <div class="row about-feature-artist p-5 m-5" data-aos="fade-left">
            <div class="feature-artist-name-even">
                 <a href="artists/Harry Styles"><p class="artist-name-fa">Harry Styles</p></a>
                <p class="monthly-listeners">998,957 monthly listeners</p>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 about-artist">
                <h5>About Harry Styles</h5>
                <p>At 28, Styles has unlocked a new level of stardom for himself. Years ago, he regularly filled
                    stadiums as a member of One Direction, his former boy band. This spring and summer, he’s playing
                    them on his own. “As It Was” has become his hugest song yet, setting streaming records and topping
                    the charts in more than two dozen countries, including 10 weeks straight in the U.S. Because he’s a
                    star with a
                    largely young, female fan base, many have refused to engage with him as much more than a pretty teen
                    idol.
                    (I don’t need to lay out decades of music history to show how wrong of a take that is.)</p>
                <p class="sub-title">HOMETOWN</p>
                <p class="content">Redditch, England</p>
                <p class="sub-title">BORN</p>
                <p class="content">February 1, 1994</p>
                <p class="sub-title">GENRE</p>
                <p class="content">Pop - Rock</p>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 img-feature-artist">
                <img src="img/fa-harry-styles.png" alt="">
            </div>
        </div>

        <div class="row about-feature-artist p-5 m-5" data-aos="fade-right">
            <div class="feature-artist-name-odd">
                <a href="artists/Sam Smith"><p class="artist-name-fa">Sam Smith</p></a>
                <p class="monthly-listeners">997,015 monthly listeners</p>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 img-feature-artist">
                <img src="img/fa-sam-smith.png" alt="">
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 about-artist">
                <h5>About Sam Smith</h5>
                <p>Sam Smith is a British singer-songwriter who has achieved global success with their soulful, emotive
                    voice and poignant lyrics. They have won numerous awards, including four Grammy Awards, three
                    Billboard Music Awards, and a Golden Globe, among others. Smith's debut album, "In the Lonely Hour,"
                    was a critical and commercial success, reaching number one in the UK and the US and earning them
                    widespread recognition. The album spawned several hit singles, including "Stay With Me" and "I'm Not
                    The Only One".</p>
                <p class="sub-title">HOMETOWN</p>
                <p class="content">London, England</p>
                <p class="sub-title">BORN</p>
                <p class="content">May 19, 1992</p>
                <p class="sub-title">GENRE</p>
                <p class="content">Pop - Ballad</p>
            </div>
        </div>

        <div class="row about-feature-artist p-5 m-5" data-aos="fade-left">
            <div class="feature-artist-name-even">
                 <a href="artists/Alicia Keys"><p class="artist-name-fa">Alicia Keys</p></a>
                <p class="monthly-listeners">990,462 monthly listeners</p>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 about-artist">
                <h5>About Alicia Keys</h5>
                <p>Alicia Keys is an American singer, songwriter, and pianist who has achieved remarkable success
                    throughout her career. She has sold over 65 million records worldwide, making her one of the
                    best-selling music artists of all time. Keys has won numerous awards, including 15 Grammy Awards,
                    making her the second-most awarded female artist in Grammy history. In addition to her music career,
                    she is also a successful actress, having appeared in several films and television shows. Keys is
                    also known for her philanthropic efforts and activism, including her work with various charitable
                    organizations.
                </p>
                <p class="sub-title">HOMETOWN</p>
                <p class="content">New York, NY, United States of America</p>
                <p class="sub-title">BORN</p>
                <p class="content">January 25, 1981</p>
                <p class="sub-title">GENRE</p>
                <p class="content">R&B - Soul</p>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 img-feature-artist">
                <img src="img/fa-alicia-keys.png" alt="">
            </div>
        </div>

        <div class="row about-feature-artist p-5 m-5" data-aos="fade-right">
            <div class="feature-artist-name-odd">
                 <a href="artists/Lana Del Rey"><p class="artist-name-fa">Lana Del Rey</p></a>
                <p class="monthly-listeners">986,064 monthly listeners</p>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 img-feature-artist">
                <img src="img/fa-lana-del-rey.png" alt="">
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 about-artist">
                <h5>About Lana Del Rey</h5>
                <p>Lana Del Rey is a highly successful American singer-songwriter, known for her unique voice and style
                    of music. She has released several critically acclaimed albums, including "Born to Die",
                    "Ultraviolence", and "Lust for Life". Throughout her career, she has earned multiple Grammy
                    nominations, including for "Born to Die" and "Ultraviolence", and has won several awards, including
                    a BRIT award for International Female Solo Artist in 2013. Her music has been praised for its poetic
                    lyrics and cinematic quality, and she has developed a dedicated fan base around the world. Del Rey's
                    success has also extended beyond music, with her being recognized for her contributions to fashion
                    and beauty as well.</p>
                <p class="sub-title">HOMETOWN</p>
                <p class="content">lake Placid, NY</p>
                <p class="sub-title">BORN</p>
                <p class="content">June 21, 1985</p>
                <p class="sub-title">GENRE</p>
                <p class="content">Alternative</p>
            </div>
        </div>
        <div class="row" style="height: 30px"></div>

    </div>
</div>