<div class="container">
    <div class="intro-box mt-3 premium-container" data-aos="fade-left">
        <div class="row premium-info">
            <div class="col-12 col-sm-12 col-md-5 col-lg-4 col-xl-4">
                <div class="img-premium">
                    {{!-- <img src="https://cdn.shpy.in/79267/1632516965209_SKU-0049_0?" alt=""> --}}
                    <img src="img/premium1.png" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-8 col-xl-8">
                <div class="intro-text-premium">
                    <a href="">
                        <div style="font-size: 60px; color: #fff; font-weight: bold;">Premium</div>
                    </a>

                    <p class="premium-slogan">With the Premium package, you can listen to music anywhere, anytime,
                        without limitations.</p>
                    <p class="premium-slogan">Listen to music without ads and download music for free.</p>

                    <p class="premium-slogan1">Only $1.99/month. Cancel any time.</p>
                    <button class="btn-see-packages" onclick="scrollToDiv()">SEE PACKAGES</button>
                    {{!-- <button class="btn-see-packages" onclick="scrollToDiv()">SEE PACKAGES</button> --}}
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5" data-aos="fade-right">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row mb-5">
                <div class="title-premium mb-5">
                    <p>
                        Why use Premium Package?
                    </p>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 d-block text-center">
                    <div class="img-reason" id="reason1">
                        <img src="img/reason1.jpg" alt="">
                    </div>
                    <div class="text-reason">
                        <p class="reason-title">Download music</p>
                        <p class="explain">Listen every where</p>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 d-block text-center">
                    <div class="img-reason" id="reason2">
                        <img src="img/reason2.jpg" alt="">
                    </div>
                    <div class="text-reason">
                        <p class="reason-title">Listen without ads</p>
                        <p class="explain">Enjoy uninterrupted music</p>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 d-block text-center">
                    <div class="img-reason" id="reason3">
                        <img src="img/reason3.jpg" alt="">
                    </div>
                    <div class="text-reason">
                        <p class="reason-title">Outstanding sound quality</p>
                        <p class="explain">Adventure with music</p>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 d-block text-center">
                    <div class="img-reason" id="reason4">
                        <img src="img/reason4.jpg" alt="">
                    </div>
                    <div class="text-reason">
                        <p class="reason-title">Play music any order</p>
                        <p class="explain">Play any song in the orde<r /p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5 mb-5" id="premium-container" data-aos="fade-up">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row mb-3">
                <div class="title-premium mb-3">
                    <p style="margin-bottom: 0;">
                        Choose your Premium Package
                    </p>
                    <p style="font-size: 17px; font-weight: normal;">
                        Unlimited listening on phones, speakers and other devices.
                    </p>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 d-block mb-5">
                    <div class="premium-package-box pre-silver d-block mx-auto">
                        <div class="package-header text-center" id="silver">
                            <p class="package-name">SILVER</p>
                            <p class="package-price">$1.99</p>
                            <p class="package-time">PER MONTH</p>
                        </div>
                        <div class="premium-benefits">
                            <p class="pre-be"><i class="fa-solid fa-check"></i>Listen to ad-free music on mobile devices
                            </p>
                            <p class="pre-be"><i class="fa-solid fa-check"></i>Joint listening group</p>
                            <p class="pre-be"><i class="fa-solid fa-x"></i>Listen to music without ads</p>
                            <p class="pre-be"><i class="fa-solid fa-x"></i>Play music in any order</p>
                        </div>
                        <div class="package-footer text-center">
                            <button class="btn-buy-now1" id="buy-silver">
                                Buy Now
                            </button>
                        </div>
                    </div>

                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 d-block mb-5">
                    <div class="premium-package-box pre-gold d-block mx-auto">
                        <div class="package-header text-center" id="gold">
                            <p class="package-name">GOLD</p>
                            <p class="package-price">$2.99</p>
                            <p class="package-time">PER MONTH</p>
                            <p style="font-size: 15px; color: white;">(POPULAR)</p>
                        </div>
                        <div class="premium-benefits">
                            <p class="pre-be"><i class="fa-solid fa-check"></i>Listen to ad-free music on mobile devices
                            </p>
                            <p class="pre-be"><i class="fa-solid fa-check"></i>Joint listening group</p>
                            <p class="pre-be"><i class="fa-solid fa-check"></i>Listen to music without ads</p>
                            <p class="pre-be"><i class="fa-solid fa-check"></i>Play music in any order< </div>
                                    <div class="package-footer text-center">
                                        <button class="btn-buy-now2" id="buy-gold">
                                            Buy Now
                                        </button>
                                    </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 d-block mb-5">
                        <div class="premium-package-box pre-platinum d-block mx-auto">
                            <div class="package-header text-center" id="platinum">
                                <p class="package-name">PLATINUM</p>
                                <p class="package-price">$29.99</p>
                                <p class="package-time">PER YEAR</p>
                            </div>
                            <div class="premium-benefits">
                                <p class="pre-be"><i class="fa-solid fa-check"></i>Listen to ad-free music on mobile
                                    devices
                                </p>
                                <p class="pre-be"><i class="fa-solid fa-check"></i>Joint listening group</p>
                                <p class="pre-be"><i class="fa-solid fa-check"></i>Listen to music without ads</p>
                                <p class="pre-be"><i class="fa-solid fa-check"></i>Play music in any order< </div>
                                        <div class="package-footer text-center">
                                            <button class="btn-buy-now3" id="buy-platinum">
                                                Buy Now
                                            </button>
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <script>
            function scrollToDiv() {
                const div = document.getElementById("premium-container");
                div.scrollIntoView({ behavior: "smooth" });
            }
        </script>

    </div>

    {{!-- animation scroll --}}
    <script>
        AOS.init();
    </script>
</div>