<div class="policy-content" data-aos="fade-up" style="min-height:100vh; margin-top: 80px;">
    <h2>Privacy Policy</h2>
    <h3>Article 1: Purpose and scope of collection</h3>
    <p>When interacting and transacting on MusicParadise, users will ask to provide information including: email,
        username, login password. This is the information that MusicParadise requires the Customer to provide when
        registering to use a personal account to store personal music store and perform the upgrade of the music
        account, protecting the interests of the Customer.</p>
    <p>Customers will be solely responsible for the security and storage of all service use activities under their
        registered name, password and email box. In addition, Customer is responsible for promptly notifying
        MusicParadise of unauthorized use, abuse, breach of security, retention of registered name and password of third
        parties for appropriate remedial measures fit.</p>
    <h3>Article 2: Scope of information use</h3>
    <p>MusicParadise will use the information provided by the Customer for the following purposes:</p>
    <ul>
        <li>Providing music listening services to customers.</li>
        <li>Store customer's activity information on MusicParadise website/App to improve the quality of better music
            service to customers.</li>
        <li>Prevent activities that destroy Customer's user accounts or activities that impersonate Customer.</li>
        <li>Contact and deal with the Customer in special cases.</li>
        <li>Do not use Customer's personal information other than for confirmation and contact purposes related to the
            purchase of products on the MusicParadise site.</li>
    </ul>
    <h3>Article 3: Information storage time</h3>
    <p>Customer's personal data will be stored until there is a request to cancel or Customer log in and perform
        cancellation. Remaining in all cases, Customer's personal information will be kept confidential on
        NhacCuaTui.com's server.</p>
    <h3>Article 4: Address of the unit that collects, manages information and supports Customers</h3>
    <ul>
        <li>VTVTS Joint Stock Company</li>
        <li>Head office: Nguyen Huu Canh, Ward 22, Binh Thanh, Ho Chi Minh City.</li>
        <li>Contact address: Address: Floor 50, Landmark 81 Building, Nguyen Huu Canh, Ward 22, Binh Thanh, Ho Chi Minh
            City.</li>
        <li>Hotline: 0379128127</li>
        <li>Email: <a href="#">musicparadise@mpd.vn</a></li>
    </ul>
    <h3>Article 5: Means and tools for customer information management</h3>
    <p>Customers have the right to check, update and adjust their personal information by logging in to their account
        and editing personal information or request MusicParadise to do this by sending an email to musicparadise email
        address. @mpd.com or via the MusicParadise fanpage.</p>
    <p>When having doubts about personal information being disclosed or wishing to delete personal information from
        MusicParadise system, Customer has the right to send a request to MusicParadise's Administration via email
        musicparadise@mpd.com. After receiving these requests, MusicParadise will immediately proceed to confirm, check
        and process the request of the Customer.</p>
    <h3>Article 6: Commitment to confidentiality of Customer's personal information</h3>
    <p>Personal information of Customers on MusicParadise is absolutely committed by MusicParadise to privacy according
        to MusicParadise's personal information protection policy. The collection and use of information of each
        Customer is only done with the consent of that Customer, except in cases where there is a request from a
        competent authority. Accordingly, MusicParadise commits to:</p>
    <ul>
        <li>Do not use, transfer, provide or disclose to any third party the Customer's personal information without the
            Customer's permission or consent, unless otherwise provided by law.</li>
        <li>In the event that the information server is attacked by a hacker leading to the loss of Customer's personal
            data, MusicParadise will be responsible for notifying the incident to the investigating authorities for
            timely handling and notifying the Customer. Are known.</li>
        <li>Absolutely confidential all information of customers' online transactions including invoice information,
            digital accounting vouchers in the secure data center level 1 of MusicParadise.</li>
    </ul>
</div>

{{!-- animation scroll --}}
    <script>
        AOS.init();
    </script>